@model IEnumerable<PracticeWebApp1.Models.Adress>

@{
    ViewBag.Title = "Список улиц";
}

<h2>Список улиц"</h2>
@{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "grid");
}

<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="grid" style="font-family: Arial; padding: 20px;">
    @grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",
    columns:
    grid.Columns(grid.Column("Adress1", "Название улицы"),
    grid.Column(header: "Действия", format: (item) =>
    new HtmlString(
        Html.ActionLink("Редактировать", "Edit", new { id = item.idAdress }, new { @class = "btn btn-primary" }).ToString()
        + " " +
        Html.ActionLink("Удалить", "Delete", new { id = item.idAdress }, new { @class = "btn btn-danger" }).ToString()
    )
)))
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idAdress }) |
                @Html.ActionLink("Details", "Details", new { id = item.idAdress }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idAdress })
            </td>
        </tr>
    }

</table>
